* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Commissioner, sans-serif;
  font-size: 10px;
}

body {
  background-color: #fafafa;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  border: none;
}

.container {
  max-width: 144rem;
  width: 50%;
  margin: 0 auto;
}

.header {
  background: url(../images/image-hero-desktop.jpg) no-repeat;
  background-size: cover;
  height: 44rem;
  padding: 6rem 18.2rem;
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  gap: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}
.header__nav a:hover {
  text-decoration: underline;
}

main {
  min-height: 100vh;
  position: relative;
  top: -10rem;
}

.section-first {
  background-color: white;
  padding: 6rem 4rem 4.5rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}
.section-first::before {
  content: "";
  background: url(../images/logo-mastercraft.svg) no-repeat;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -28px;
  left: calc(50% - 4rem);
}
.section-first__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.section-first__paragraph {
  font-size: 1.8rem;
  color: hsl(0deg, 0%, 48%);
  text-align: center;
  margin-bottom: 3.5rem;
}
.section-first__btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1.8rem 3.5rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.btn-cyan {
  background-color: hsl(176deg, 50%, 47%);
  color: white;
}
.btn-cyan:hover {
  background-color: hsl(176deg, 72%, 28%);
}
.btn-bookmark {
  position: relative;
  background-color: hsla(0deg, 0%, 48%, 0.1);
  color: hsl(0deg, 0%, 48%);
  padding-left: 7rem;
  transition: all 0.5s;
}
.btn-bookmark svg {
  position: absolute;
  top: 0;
  left: 0;
}
.btn-bookmark svg circle {
  fill: hsl(0deg, 0%, 48%);
  transition: all 0.5s;
}
.btn-bookmark--marked {
  background-color: rgba(60, 180, 172, 0.1);
  color: hsl(176deg, 72%, 28%);
}
.btn-bookmark--marked svg circle {
  fill: hsl(176deg, 72%, 28%);
}
.btn-bookmark--marked svg path {
  fill: white;
}

.panel {
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}
.panel .wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  margin-bottom: 3rem;
}
.panel__item:nth-child(n+2) {
  border-left: 2px solid rgba(122, 122, 122, 0.2);
  padding-left: 4rem;
}
.panel__numbers {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.panel__description {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 48%);
}
.panel__bar {
  height: 1rem;
  background: hsla(0deg, 0%, 48%, 0.1);
  border-radius: 1rem;
}
.panel__bar:before {
  content: "";
  width: 75%;
  height: 100%;
  display: block;
  background: hsl(176deg, 50%, 47%);
  border-radius: 1rem;
}

.about {
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  color: hsl(0deg, 0%, 48%);
}
.about__title {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: hsl(0deg, 0%, 0%);
}
.about__paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.plan {
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 1rem;
  padding: 3rem;
}
.plan + .plan {
  margin-top: 2.5rem;
}
.plan .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan__title {
  font-size: 2rem;
  color: hsl(0deg, 0%, 0%);
}
.plan__pledge {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(176deg, 50%, 47%);
}
.plan__paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.plan__left {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.plan__left span {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
  margin-right: 0.8rem;
}
.plan__btn {
  font-size: 1.4rem;
  color: white;
  background-color: hsl(176deg, 50%, 47%);
}
.plan__btn:hover {
  background-color: hsl(176deg, 72%, 28%);
}
.plan-disabled {
  opacity: 0.5;
}
.plan-disabled .plan__btn {
  background-color: hsl(0deg, 0%, 48%);
  cursor: default;
}

/*# sourceMappingURL=main.css.map */
