$color-moderate-cyan: hsl(176, 50%, 47%);
$color-dark-cyan: hsl(176, 72%, 28%);

$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 48%);
$color-medium-gray: hsla(0,0%,48%,.1);
$color-light-gray: #fafafa;
$color-white: white;
$color-red: rgba(255, 0, 0, 0.8);

$break-mobile: 900px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Commissioner, sans-serif;
    font-size: 10px;
}

body {
    background-color: $color-light-gray;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    border: none;
}

.container {
    max-width: 144rem;
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: $break-mobile) {
        width: 90%;
    }
}

.overflow-hidden {
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}