$color-moderate-cyan: hsl(176, 50%, 47%);
$color-dark-cyan: hsl(176, 72%, 28%);

$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 48%);
$color-medium-gray: hsla(0,0%,48%,.1);
$color-light-gray: #fafafa;
$color-white: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Commissioner, sans-serif;
    font-size: 10px;
}

a {
    all: unset;
    cursor: pointer;
}

.container {
    max-width: 144rem;
    width: 50%;
    margin: 0 auto;
}