main {    
    min-height: 100vh;
    position: relative;
    top: -10rem;
}

.section-first {
    background-color: $color-white;
    padding: 6rem 4rem 4.5rem;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    border: 1px solid $color-medium-gray;

    &::before {
        content: '';
        background: url(../images/logo-mastercraft.svg) no-repeat;
        width: 56px;
        height: 56px;
        position: absolute;
        top: -28px;
        left: calc(50% - 4rem);
    }

    &__title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__paragraph {
        font-size: 1.8rem;
        color: $color-dark-gray;
        text-align: center;
        margin-bottom: 3.5rem;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: $break-mobile) {
        padding: 4rem 2rem;
    
        &__title {
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    
        &__paragraph {
            font-size: 1.4rem;
            margin-bottom: 2rem;
            line-height: 2.5rem;
        }
    
        &__btns {
            display: flex;
            justify-content: space-between;
        }
    }
}

.btn {
    padding: 1.8rem 3.5rem;
    border-radius: 4rem;            
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;

    &-cyan {
        background-color: $color-moderate-cyan;
        color: $color-white;

        &:hover {
            background-color: $color-dark-cyan;
        }
    }

    &-bookmark {
        position: relative;
        background-color: $color-medium-gray;
        color: $color-dark-gray;
        padding-left: 7rem;
        transition: all .5s;

        svg {
            position: absolute;
            top: 0;
            left: 0;            

            circle {
                fill: $color-black;                
                transition: all .5s;
            }
        }

        &--marked {
            background-color: rgba($color-moderate-cyan, .1);
            color: $color-dark-cyan;

            svg {
                circle {
                    fill: $color-dark-cyan;
                }

                path {
                    fill: $color-white;
                }
            }            
        }
    }

    @media screen and (max-width: $break-mobile) {
        padding: 1.8rem 5rem;
        font-size: 1.4rem;

        &-cyan {
            box-sizing: border-box;
            height: 56px;
        }

        &-bookmark {
            width: 56px;
            height: 56px;
            padding: 0;
            
            span {
                display: none;
            }
        }
    }
}

.btn-small {
    padding: 1.2rem 2rem;

    &--cyan {
        font-size: 1.4rem;
        font-weight: 700;
        color: $color-white;
        background-color: $color-moderate-cyan;
        border: 1px solid $color-moderate-cyan;
        border-radius: 4rem;

        &:hover {            
            background-color: $color-dark-cyan;
            border: 1px solid $color-dark-cyan;
        }
    }
}

.panel {
    background-color: $color-white;
    padding: 4rem;
    border-radius: 1rem;
    margin-bottom: 2.5rem;

    .wrapper {
        display: grid;
        grid-template-columns: .7fr 1fr 1fr;
        margin-bottom: 3rem;
    }    

    &__item:nth-child(n+2) {
        border-left: 2px solid rgba($color-dark-gray, .2);
        padding-left: 4rem;
    }

    &__numbers {
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    &__description {
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-dark-gray;
    }

    &__bar {
        height: 1rem;
        background: $color-medium-gray;
        border-radius: 1rem;

        &:before {       
            content: '';     
            width: 75%;
            height: 100%;
            display: block;
            background: $color-moderate-cyan;
            border-radius: 1rem;
        }
    }    

    @media screen and (max-width: $break-mobile) {
        .wrapper {
            grid-template-columns: auto;
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
        }

        &__item {
            padding: 2rem 0;
            text-align: center;

            &:nth-child(n+2) {
                border-left: 0;
                border-top: 2px solid rgba($color-dark-gray, .2);
                padding-left: 0;
            }
        }        
    }
}

.about {
    background-color: $color-white;
    padding: 4rem;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    color: $color-dark-gray;

    &__title {
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: $color-black;
    }

    &__paragraph {
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }

    @media screen and (max-width: $break-mobile) {
        padding: 4rem 2.5rem;
    }
}

.plan {
    border: 1px solid rgba($color-dark-gray, .2);
    border-radius: 1rem;
    padding: 3rem;
    position: relative;

    & + & {
        margin-top: 2.5rem;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }

    &__title {
        font-size: 2rem;
        color: $color-black;
    }

    &__pledge {
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-moderate-cyan;
    }

    &__paragraph {
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &__left {
        display: inline-block;
        align-items: center;
        font-size: 1.4rem;

        &--small {
            color: $color-dark-gray;

            span {
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-black;
                margin-right: .5rem;
            }
        }

        &--large {
            span {
                font-size: 3rem;
                font-weight: 700;
                color: $color-black;
                margin-right: .8rem;            
                vertical-align: middle;
            }
        }
    }

    &__btn {
        font-size: 1.4rem;
        color: $color-white;
        background-color: $color-moderate-cyan;

        &:hover {
            background-color: $color-dark-cyan;
        }
    }

    &-disabled {
        opacity: .5;        

        .plan__btn {
            background-color: $color-dark-gray;
            cursor: default;
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @media screen and (max-width: $break-mobile) {
        padding: 2rem;

        .wrapper {
            flex-direction: column;      
            align-items: flex-start;
        }

        &__title {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        &__left {
            margin-bottom: 3rem;

            &--small {
                color: $color-dark-gray;
    
                span {
                    font-size: 2rem;
                }
            }
    
            &--large {
                span {
                    font-size: 2.8rem;
                }
            }
        }

        &__btn {
            padding: 1.8rem 3.5rem;
        }
    }
}

.active-modal {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, .2);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    display: none;

    &--small {
        width: 50rem;
        padding: 4rem;
    }

    &--large {
        width: 68rem;
        padding: 4rem;
    }

    &__content {
        display: block;
        background-color: $color-white;        
        border-radius: 1rem;        
        transform: translateY(30%);        
        opacity: 0;
        animation: animeUp .5s forwards;
        margin: 10rem auto;
        overflow-y: hidden;

        &--sucess {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                margin-bottom: 4rem;
            }

            h2 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1.4rem;
                color: $color-dark-gray;
                text-align: center;
                line-height: 2.5rem;
                margin-bottom: 3rem;
            }

            .btn {
                font-size: 1.4rem;
                color: $color-white;
                background-color: $color-moderate-cyan;
                padding: 1.5rem 3rem;
                cursor: pointer;

                &:hover {
                    background-color: $color-dark-cyan;
                }
            }
        }       
    }  

    &__header {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h2 {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    &__body {
        overflow-y: auto;
    }

    &__close {
        background: url(../images/icon-close-modal.svg) no-repeat;
        width: 15px;
        height: 15px;
        cursor: pointer;
        opacity: .5;

        &:hover {
            opacity: 1;
        }        
    }

    @media screen and (max-width: $break-mobile) {
        &--small {
            width: 34rem;
            padding: 2.5rem;
        }

        &--large {
            width: 34rem;
            padding: 2.5rem;
        }
    }
}

.pledge {
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.4rem;
        color: $color-dark-gray;
        line-height: 2.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid rgba($color-dark-gray, .3);
        border-radius: 1rem;        
        margin-top: 2rem;  
        position: relative;      
    }

    &__plan {
        padding: 3rem;

        p {
            margin-left: 4.5rem;
        }
    }

    &__emphasis {
    
        &-cyan {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-moderate-cyan;
            margin-left: 4.5rem;
        }
    }

    &__left {
        float: right;
    }

    &__form-pledge {
        padding: 0;
        display: flex;
        align-items: center;
        height: 0;
        overflow-y: hidden;
        transition: all .4s;


        label {
            font-size: 1.4rem;            
            color: $color-dark-gray;
            margin-right: 1rem;
            flex-grow: 1;
        }

        input {
            margin-right: 1rem;
        }
    }

    &--disabled {
        opacity: .5;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
        }
    }

    @media screen and (max-width: $break-mobile) {
        &__plan {
            position: relative;
    
            p {
                margin-top: 3rem;
                margin-left: 0;
            }

            .p-2 {                
                margin-bottom: 5rem;
            }
        }

        &__left {
            float: none;
            position: absolute;
            bottom: 0;
            left: 3rem;
        }

        &__form-pledge {
            flex-wrap: wrap;
            justify-content: center;
    
            label {
                width: 100%;
                font-size: 1.4rem;
                text-align: center;
                padding-bottom: 2rem;
            }
        }  
    }
}

.active {

    &-option {
        border: 1px solid $color-moderate-cyan;
    }

    &-form {
        display: flex !important;
        height: 85px;
        padding: 2rem;
        border-top: 1px solid rgba($color-dark-gray, .2);
    }

    @media screen and (max-width: $break-mobile) { 
        &-form { 
            height: 120px;
        }
    }
}

.input-radio {
    input[type=radio] {
        display: none;

        &:checked + label:before {
            content: "\2022";
            color: $color-moderate-cyan;
            font-size: 4rem;
            text-align: center;
            padding: 1px 1px 1px 1.8px;
            line-height: 11px;
        }
    }

    label {
        font-size: 1.4rem;                
        font-weight: 700;                
        cursor: pointer;

        &:hover {
            color: $color-moderate-cyan;
        }

        &:hover:before {
            border: 1px solid rgba($color-moderate-cyan, .3) !important;
        }

        &::before {
            content: '';
            display: inline-block;
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid rgba($color-dark-gray, .3);
            margin-right: 2rem;
            vertical-align: middle;
            margin-bottom: 4px;
        }
    }
}

.input-coin {    
    outline: 1px solid rgba($color-dark-gray, 1);
    border: none;
    padding: 1.2rem 2rem 1.2rem 2.8rem;
    border-radius: 4rem;
    text-align: center;
    width: 8rem;
    font-family: Commissioner, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;

    &:focus {
        outline: 1px solid rgba($color-moderate-cyan, 1);
    }
}

.dollar-sign {
    position: relative;
    left: 2.5rem;
    font-size: 1.5rem;
    color: $color-dark-gray;
}

.msg-error {
    color: $color-red !important;
    font-weight: 700;
}

.input-error {
    outline: 1px solid rgba($color-red, .5);
}

.darken {

    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-black;
        opacity: .1;
        z-index: 1;
    }
}