.header {
    background: url(../images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 44rem;
    padding: 6rem 18.2rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__links {
        z-index: 999;
    }

    &__icon-menu,
    .icon-hamburguer,
    .icon-close {
        display: none;
    }

    &__nav {
        display: flex;
        gap: 3rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-white;

        a:hover {
            text-decoration: underline;
        }
        
    }

    @media screen and (max-width: $break-mobile) {
        height: 33.5rem;
        padding: 2rem;
        background: url(../images/image-hero-mobile.jpg) no-repeat;
        background-size: 100%;

        &__icon-menu {
            display: block;
        }

        &__nav {
            display: none;
            opacity: 0;
            position: absolute;
            top: 8rem;
            right: 2rem;
            width: 100%;
            max-width: 32.2rem;
            flex-direction: column;
            gap: 0;
            background-color: $color-white;
            border-radius: 1rem;
            font-size: 1.8rem;
            color: $color-black;  
            z-index: 999;
            transform: translateX(5%);
            animation: animeRight .3s forwards;
            
            a {
                padding: 2.5rem;
            }

            a + a {
                border-top: 1px solid $color-medium-gray;
            }
        }

        .icon-active {
            display: block;
        }

        .mobile-active {
            display: flex;
            opacity: 1;
        }
    }
}

